@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  animation: fadeInSlide 1.5s ease-out;
}

/* Place the @import rule at the very top */
body {
  /* 第2引数はホットスポットの位置 (例: 16px 16px) */
  cursor: url("/chiikawa.png") 16 16, auto;
}
